@keyframes rotate-gradient {
  0% {
    background: linear-gradient(45deg, #3b82f6, #2dd4bf);
  }
  25% {
    background: linear-gradient(135deg, #2dd4bf, #3b82f6);
  }
  50% {
    background: linear-gradient(225deg, #3b82f6, #2dd4bf);
  }
  75% {
    background: linear-gradient(315deg, #2dd4bf, #3b82f6);
  }
  100% {
    background: linear-gradient(45deg, #3b82f6, #2dd4bf);
  }
}

.animate-rotate-gradient {
  animation: rotate-gradient 2s linear infinite;
}
